/* wood grain image attribution: /* wood grain image attribution: <a href="https://www.freepik.com/free-photo/striped-gray-wood_1037575.htm#query=seamless%20wood%20pattern%20black%20white%20free&position=34&from_view=search&track=ais">Image by kues1</a> on Freepik */
:root {
    --test: box-shadow: inset 0 0 0 1000px rgba(210,180,140,0.8);

}
main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#container {
    border: solid 3px black;
    width: 90vw;
    height: 50vh;
    position: relative;
    display: inline-block;
}

#sky {
    width: 100%;
    height: 100%;
}

.main-sky {
    width: 100%;
    height: 10%;
    background-image: url('/images/striped-gray-wood.jpg');
}

#sky1 {
    box-shadow: inset 0 0 0 1000px rgba(0,86,96,.8);
}

#sky2 {
    box-shadow: inset 0 0 0 1000px rgba(0,100,106,.8);
}

#sky3 {
    box-shadow: inset 0 0 0 1000px rgba(0,116,117,.8);
}

#sky4 {
    box-shadow: inset 0 0 0 1000px rgba(0,121,120,.8);
}

#sky5 {
    box-shadow: inset 0 0 0 1000px rgba(0,128,129,.8);
}

#sky6 {
    box-shadow: inset 0 0 0 1000px rgba(17,137,132,.8);
}

#sky7 {
    box-shadow: inset 0 0 0 1000px rgba(34,147,137,.8);
}

#sky8 {
    box-shadow: inset 0 0 0 1000px rgba(43,157,145,.8);
}

#sky9 {
    box-shadow: inset 0 0 0 1000px rgba(52,167,152,.8);
}

#sky10 {
    box-shadow: inset 0 0 0 1000px rgba(67,178,167,.8);
}

.mtn1 {
    position: absolute;
    z-index: 3;
}

.mtn1-up {
    transform: rotate(135deg);
}

.mtn1-down {
    transform: rotate(-135deg);
}



#mtn1-1 {
    background-image: url('/images/striped-gray-wood.jpg');
    box-shadow: inset 0 0 0 1000px rgba(177,98,46,.7);
    width: 350px;
    height: 40px;
    bottom: 89px;
    left: -35px;
    clip-path: polygon(11.43% 0%, 88.57% 0%, 100% 100%, 0% 100%);
}

#mtn1-2 {
    background-image: url('/images/striped-gray-wood.jpg');
    box-shadow: inset 0 0 0 1000px rgba(177,98,46,.7);
    width: 350px; 
    height: 40px;
    bottom: 89px;
    left: 183px;
    clip-path: polygon(11.43% 0%, 88.57% 0%, 100% 100%, 0% 100%);
}

#mtn1-3 { 
    background-image: url('/images/striped-gray-wood.jpg');
    box-shadow: inset 0 0 0 1000px rgba(133, 70, 31, 0.7);
    width: 270px; 
    height: 40px;
    bottom: 61px;
    left: 33px;
    clip-path: polygon(14.81% 0%, 85.19% 0%, 100% 100%, 0% 100%);
}

#mtn1-4 {
    background-image: url('/images/striped-gray-wood.jpg');
    box-shadow: inset 0 0 0 1000px rgba(133, 70, 31, 0.7);
    width: 270px;
    height: 40px;
    bottom: 61px; 
    left: 195px;
    clip-path: polygon(14.81% 0%, 85.19% 0%, 100% 100%, 0% 100%);
}

#mtn1-5 { 
    background-image: url('/images/striped-gray-wood.jpg');
    box-shadow: inset 0 0 0 1000px rgba(177,98,46,.7);
    width: 190px;
    height: 40px; 
    bottom: 33px;
    left: 100px;
    clip-path: polygon(21.05% 0%, 78.95% 0%, 100% 100%, 0% 100%);
}
  
#mtn1-6 {
    background-image: url('/images/striped-gray-wood.jpg');
    box-shadow: inset 0 0 0 1000px rgba(177,98,46,.7);
    width: 190px;
    height: 40px; 
    bottom: 33px;
    left: 206px;
    clip-path: polygon(21.05% 0%, 78.95% 0%, 100% 100%, 0% 100%);
}

#mtn1-7 { 
    background-image: url('/images/striped-gray-wood.jpg');
    box-shadow: inset 0 0 0 1000px rgba(104, 45, 22, 0.7);
    width: 110px;
    height: 40px; 
    bottom: 5px;
    left: 168px;
    clip-path: polygon(36% 0%, 64% 0%, 100% 100%, 0% 100%);
    
}
  
#mtn1-8 {
    background-image: url('/images/striped-gray-wood.jpg');
    box-shadow: inset 0 0 0 1000px rgba(104, 45, 22, 0.7);
    width: 110px;
    height: 40px; 
    bottom: 5px;
    left: 217px;
    clip-path: polygon(36% 0%, 64% 0%, 100% 100%, 0% 100%);
}

#mtn1-9 {
    z-index: 2;
    position: absolute;
    transform: rotate(90deg);
    background-image: url('/images/striped-gray-wood.jpg');
    box-shadow: inset 0 0 0 1000px rgba(177,98,46,.7);
    width: 75px;
    height: 40px; 
    bottom: 23px;
    left: 210px;
}

.mtn2 {
    position: absolute;
    z-index: 2;
}

#mtn2-1 {
    background-image: url('/images/striped-gray-wood.jpg');
    box-shadow: inset 0 0 0 1000px rgba(104, 45, 22, 0.7);
    width: 500px;
    height: 40px;
    bottom: 142px;
    left: 125px;
    clip-path: polygon(8% 0%, 92% 0%, 100% 100%, 0% 100%);
}

#mtn2-2 {
    background-image: url('/images/striped-gray-wood.jpg');
    box-shadow: inset 0 0 0 1000px rgba(104, 45, 22, 0.7);
    width: 500px; 
    height: 40px;
    bottom: 142px;
    left: 446px;
    clip-path: polygon(8% 0%, 92% 0%, 100% 100%, 0% 100%);
}

#mtn2-3 { 
    background-image: url('/images/striped-gray-wood.jpg');
    box-shadow: inset 0 0 0 1000px rgba(133, 70, 31, 0.7);
    width: 420px; 
    height: 40px;
    bottom: 114px;
    left: 192px;
    clip-path: polygon(9.5% 0%, 90.5% 0%, 100% 100%, 0% 100%);
}

#mtn2-4 {
    background-image: url('/images/striped-gray-wood.jpg');
    box-shadow: inset 0 0 0 1000px rgba(133, 70, 31, 0.7);
    width: 420px;
    height: 40px;
    bottom: 114px; 
    left: 458px;
    clip-path: polygon(9.5% 0%, 90.5% 0%, 100% 100%, 0% 100%);
}

#mtn2-5 { 
    background-image: url('/images/striped-gray-wood.jpg');
    box-shadow: inset 0 0 0 1000px rgba(177,98,46,.7);
    width: 340px;
    height: 40px; 
    bottom: 86px;
    left: 260px;
    clip-path: polygon(12% 0%, 88% 0%, 100% 100%, 0% 100%);
}
  
#mtn2-6 {
    background-image: url('/images/striped-gray-wood.jpg');
    box-shadow: inset 0 0 0 1000px rgba(177,98,46,.7);
    width: 340px;
    height: 40px; 
    bottom: 86px;
    left: 470px;
    clip-path: polygon(12% 0%, 88% 0%, 100% 100%, 0% 100%);
}

#mtn2-7 { 
    background-image: url('/images/striped-gray-wood.jpg');
    box-shadow: inset 0 0 0 1000px rgba(104, 45, 22, 0.7);
    width: 260px;
    height: 40px; 
    bottom: 58px;
    left: 328px;
    clip-path: polygon(15% 0%, 85% 0%, 100% 100%, 0% 100%);
}
  
#mtn2-8 {
    background-image: url('/images/striped-gray-wood.jpg');
    box-shadow: inset 0 0 0 1000px rgba(104, 45, 22, 0.7);
    width: 260px;
    height: 40px; 
    bottom: 58px;
    left: 482px;
    clip-path: polygon(15% 0%, 85% 0%, 100% 100%, 0% 100%);
}

#mtn2-9 {
    background-image: url('/images/striped-gray-wood.jpg');
    box-shadow: inset 0 0 0 1000px rgba(177,98,46,.7);
    width: 180px;
    height: 40px; 
    bottom: 29px;
    left: 396px;
    clip-path: polygon(22% 0%, 78% 0%, 100% 100%, 0% 100%);
}

#mtn2-10 {
    background-image: url('/images/striped-gray-wood.jpg');
    box-shadow: inset 0 0 0 1000px rgba(177,98,46,.7);
    width: 180px;
    height: 40px; 
    bottom: 29px;
    left: 495px;
    clip-path: polygon(22% 0%, 78% 0%, 100% 100%, 0% 100%);
}

#mtn2-11 {
    background-image: url('/images/striped-gray-wood.jpg');
    box-shadow: inset 0 0 0 1000px rgba(133, 70, 31, 0.7);
    width: 100px;
    height: 40px; 
    bottom: 1px;
    left: 464px;
    clip-path: polygon(40% 0%, 60% 0%, 100% 100%, 0% 100%);
}

#mtn2-12 {
    background-image: url('/images/striped-gray-wood.jpg');
    box-shadow: inset 0 0 0 1000px rgba(133, 70, 31, 0.7);
    width: 100px;
    height: 40px; 
    bottom: 1px;
    left: 507px;
    clip-path: polygon(40% 0%, 60% 0%, 100% 100%, 0% 100%);
}

#mtn2-13 {
    z-index: 1;
    position: absolute;
    transform: rotate(90deg);
    background-image: url('/images/striped-gray-wood.jpg');
    box-shadow: inset 0 0 0 1000px rgba(177,98,46,.7);
    width: 75px;
    height: 40px; 
    bottom: 17px;
    left: 492px;
}

.mtn3 {
    position: absolute;
    z-index: 4;
}

#mtn3-1 {
    background-image: url('/images/striped-gray-wood.jpg');
    box-shadow: inset 0 0 0 1000px rgba(177,98,46,.7);
    width: 300px;
    height: 40px;
    bottom: 72px;
    left: 650px;
    clip-path: polygon(13.44% 0%, 86.67% 0%, 100% 100%, 0% 100%);
} 

#mtn3-2 {
    background-image: url('/images/striped-gray-wood.jpg');
    box-shadow: inset 0 0 0 1000px rgba(177,98,46,.7);
    width: 300px;
    height: 40px;
    bottom: 72px;
    left: 832px;
    clip-path: polygon(13.44% 0%, 86.67% 0%, 100% 100%, 0% 100%);
} 

#mtn3-3 {
    background-image: url('/images/striped-gray-wood.jpg');
    box-shadow: inset 0 0 0 1000px rgba(133, 70, 31, 0.7);
    width: 220px;
    height: 40px;
    bottom: 43px;
    left: 718px;
    clip-path: polygon(18% 0%, 82% 0%, 100% 100%, 0% 100%);
} 

#mtn3-4 {
    background-image: url('/images/striped-gray-wood.jpg');
    box-shadow: inset 0 0 0 1000px rgba(133, 70, 31, 0.7);
    width: 220px;
    height: 40px;
    bottom: 43px;
    left: 844px;
    clip-path: polygon(18% 0%, 82% 0%, 100% 100%, 0% 100%);
} 

#mtn3-5 {
    background-image: url('/images/striped-gray-wood.jpg');
    box-shadow: inset 0 0 0 1000px rgba(104, 45, 22, 0.7);
    width: 140px;
    height: 40px;
    bottom: 14px;
    left: 786px;
    clip-path: polygon(28.58% 0%, 71.42% 0%, 100% 100%, 0% 100%);
} 

#mtn3-6 {
    background-image: url('/images/striped-gray-wood.jpg');
    box-shadow: inset 0 0 0 1000px rgba(104, 45, 22, 0.7);
    width: 140px;
    height: 40px;
    bottom: 14px;
    left: 856px;
    clip-path: polygon(28.58% 0%, 71.42% 0%, 100% 100%, 0% 100%);
} 

#mtn3-7 {
    z-index: 2;
    position: absolute;
    transform: rotate(90deg);
    background-image: url('/images/striped-gray-wood.jpg');
    box-shadow: inset 0 0 0 1000px rgba(177,98,46,.7);
    width: 75px;
    height: 75px; 
    bottom: 0px;
    left: 855px;
} 
/*
#mtn4 {
    width: 225px;
    height: 225px;
    box-shadow: inset 0 0 0 1000px darkgoldenrod;
    right: 0;
    z-index: 1;
} */