/* wood grain image attribution: /* wood grain image attribution: <a href="https://www.freepik.com/free-photo/striped-gray-wood_1037575.htm#query=seamless%20wood%20pattern%20black%20white%20free&position=34&from_view=search&track=ais">Image by kues1</a> on Freepik */

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#container {
    border: solid 2px #000;
    width: 75vw;
    height: 50vh;
    position: relative;
    display: inline-block;
}

#sky {
    width: 100%;
    height: 100%;
}

.main-sky {
    width: 100%;
    height: 20%;
    background-image: url('/images/striped-gray-wood.jpg');
    border: solid 1px #000;
}

#sky1 {
    box-shadow: inset 0 0 0 1000px rgba(0,86,96,.8);
}

#sky2 {
    box-shadow: inset 0 0 0 1000px rgba(0,116,117,.8);
}

#sky3 {
    box-shadow: inset 0 0 0 1000px rgba(0,128,129,.8);
}

#sky4 {
    box-shadow: inset 0 0 0 1000px rgba(34,147,137,.8);
}

#sky5 {
    box-shadow: inset 0 0 0 1000px rgba(52,167,152,.8);
}

.main-mtn {
    background-image: url('/images/striped-gray-wood.jpg');
    border: solid 1px #000;
    position: absolute;
    bottom: 0;
}

#mtn1 {
    width: 250px;
    height: 250px;
    box-shadow: inset 0 0 0 1000px tan;
    left: 0;
    z-index: 2;
} 

#mtn1-1 { 
  width: 0;
  height: 350px; 
  border: 40px solid;
  border-left-color: red;
  border-right-color: transparent;
  border-top-color: transparent;
  border-bottom-color: transparent;
  transform: rotate(45deg);
  bottom: -80px;
  left: 110px;
  position: absolute;   
}

#mtn1-2 {
  width: 0;
  height: 350px; 
  border: 40px solid;
  border-left-color: transparent;
  border-right-color: red;
  border-top-color: transparent;
  border-bottom-color: transparent;
  transform: rotate(-45deg);
  bottom: -80px;
  left: 300px;
  position: absolute;  
}

#mtn2 {
    width: 350px;
    height: 350px;
    box-shadow: inset 0 0 0 1000px goldenrod;
    left: 20%;
    z-index: 1;
} 

#mtn3 {
    width: 300px;
    height: 300px;
    box-shadow: inset 0 0 0 1000px brown;
    bottom: 0;
    left: 50%;
    z-index: 0;
} 

#mtn4 {
    width: 225px;
    height: 225px;
    box-shadow: inset 0 0 0 1000px darkgoldenrod;
    right: 0;
    z-index: 1;
} 